{% extends "base.html" %}
{% block content %}

 {% csrf_token %}
    <div class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-8 ftco-animate text-center text-md-left mb-5">
          	<p class="breadcrumbs mb-0"><span class="mr-3"><a href="{% url 'dappx:home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Login Page</span></p>
            <h1 class="mb-3 bread">Let's Dive In</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="ftco-section bg-light">
      <div class="container">
        <div class="row">

          <div class="col-md-12 col-lg-8 mb-5">

			     <form action="login" class="p-5 bg-white" method="POST">
                   {% csrf_token %}


              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">Username : </label>
                  <input type="text" id="fullname" class="form-control" placeholder="Username" name="username1">
                </div>
              </div>

              <div class="row form-group mb-5">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">Password : </label>
                  <input type="password" id="fullname" class="form-control" placeholder="Password" name="password">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Login" class="btn btn-primary  py-2 px-5">
                </div>
              </div>


            </form>
          </div>

          <div class="col-lg-4">
            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">Contact Info</h3>
              <p class="mb-0 font-weight-bold">Address</p>
              <p class="mb-4">C.V.Raman Hostel IIT BHU Varanasi</p>

              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4"><a href="#">+919415602019</a></p>

              <p class="mb-0 font-weight-bold">Email Address</p>
            <p><span>Email:</span> <a href="mailto:chaitanyakumarbansal.cse18@itbhu.ac.in">naveenmall632@gmail.com</a></p>

            </div>

            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">More Info</h3>
              <p>Djungle is the largest job providing in World..</p>
              <p><a href="{% url 'dappx:contact' %}" class="btn btn-primary  py-2 px-4">Learn More</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>



{% endblock %}
